
:root {
  /* colors */
  --clr-dark: 218 44% 22%;
  --clr-light: 212 45% 89%;
  --clr-medium: 216 15% 48%;
  --clr-white: 0 0% 100%;
  
  /* font-sizes */
  --fs-400: 0.9375rem;

  /* font-families */
  --ff-sans: "Outfit", sans-serif;
  --ff-sans-normal: "Outfit", sans-serif;
}

/* ----------------- */
/*       Reset       */
/* ----------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------- */
/*     Colors      */
/* --------------- */

.bg-light { background-color: hsl(var(--clr-light)); }
.bg-white { background-color: hsl(var(--clr-white)); }

.text-dark { color: hsl(var(--clr-dark)); }
.text-medium { color: hsl(var(--clr-medium)); }


/* --------------- */
/*     Typography  */
/* --------------- */

.ff-sans-normal { 
  font-family: var(--ff-sans-normal);
  font-weight: 400;
  line-height: 1.4; 
  letter-spacing: 2px;
  font-size: .9875rem;
 }

.ff-sans-bold { 
  font-family: var(--ff-sans-bold); 
  font-weight: 700;
  line-height: 1.2; 
} 

.letter-spacing-3 { letter-spacing: 2px; } 

.uppercase { text-transform: uppercase; }

.bold { font-weight: 700; }


/* ---------------- */
/*     Utility      */
/* ---------------- */

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.br {
  border-radius: var(--border-radius, 1rem);
}

.p-med {
  padding: 1em;
}

.mb-med {
  margin-bottom: 1rem;
}

.mb-lg {
  margin-bottom: 2rem;
}

/* ---------------  */
/*    Elements      */
/* ---------------  */

.card {
  width:min(340px, 90vw);
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); }